.nav {
  font-weight: bold;
  margin: 0 5px;
}

.link-nav {
  font-size: 13px;
}

@media (min-width: 802px) {
  .nav {
    margin: 0 10px;
  }
}

@media (max-width: 768px) {
  .nav {
    margin-bottom: 40px;
  }
}
