.main-layout {
  height: 100%;
  width: 100%;
  overflow-x: hidden;
}

.bar-menu {
  display: none;
}

.list-links {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0 10px;
}

@media (max-width: 768px) {
  .bar-menu {
    position: absolute;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
    margin-bottom: 20px;
  }

  .list-links {
    display: none;
    position: absolute;
    right: 23px;
    top: 94px;
    width: 89%;
    height: 100%;
    min-height: 373px;
    background-color: rgba(0, 0, 0, 0.9);
    overflow-y: auto;
  }

  .list-links.active {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
