.navbar {
  margin: 0 10px;
  z-index: 1030;
  width: 100%;
  max-height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media (max-width: 846px) {
  .navbar {
    margin: 0 10px;
  }
}

@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
    margin: 0;
    width: 0;
  }
}
