.navbar {
  margin: 0 50px;
  z-index: 1030;
  max-height: 100px;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

@media (min-width: 768px) {
  .navbar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

@media (min-width: 802px) {
  .navbar {
    justify-content: space-around;
  }
}

@media (max-width: 768px) {
  .navbar {
    max-width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
