.container-about {
  width: 100%;
  margin: 60px auto;
  padding: 0 15px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.image-about-me {
  height: 100%;
  max-height: px;
  width: 100%;
  max-width: 204px;
}

.about-me {
  width: 300px;
  height: 300px;
}

.text-about {
  margin-top: 20px;
  height: 100%;
  max-width: 400px;
  padding: 0 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.text-about-h2 {
  font-weight: 700;
  font-size: 36px;
  color: #212121;
  line-height: 1;
  text-align: left;
  margin-bottom: 5px;
  margin-top: 20px;
  margin-bottom: 5px;
}

.text-about-h3 {
  color: #212121;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 3px;
  text-align: left;
  margin-bottom: 18px;
}

.p {
  text-align: left;
  font-size: 15px;
  color: #222;
  margin-bottom: 50px;
}

@media (max-width: 768px) {
  .container-about {
    flex-direction: row;
    overflow-x: hidden;
  }

  .image-about-me {
    display: flex;
    justify-content: center;
    height: 100%;
    width: 100%;
  }
  .text-about {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 4px;
    max-width: 100%;
  }
  .text-about-h2,
  .text-about-h3 {
    text-align: center;
  }
  .p {
    font-size: 15px;
    color: #222;
    margin-bottom: 50px;
    text-align: center;
  }
}
