.avatar {
  position: relative;
  display: flex;
  align-items: center;
  min-width: 32px;
  margin: 0 10px;
  font-size: 32px;
  letter-spacing: 3px;
  font-weight: 800;
  color: #fff;
}

.a {
  padding: 25px 0;
  display: flex;
  align-items: center;
  flex-direction: row;
}

.image-avatar {
  border: 1px solid gray;
  border-radius: 100%;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.img {
  height: 100%;
  width: 100%;
  border-radius: 100%;
  object-fit: cover;
}

.avatar-name {
  margin: 10px;
}

@media (max-width: 981px) {
  .avatar {
    display: flex;
    align-items: center;
    min-width: 32px;
    margin: 0 10px;
    font-size: 32px;
    letter-spacing: 3px;
    font-weight: 800;
  }
  .image-avatar {
    display: none;
  }

  .avatar-name {
    margin: 10px;
  }
}
